/* This color pallete consists of all hex color codes in the 
 * endesge-64 color pallete from lospec. With the exception
 * of White which was replaced with Unicorn Silver which is
 * a bit softer without sacrificing too much contrast.
 *
 * All color names were sourced from:
 * https://colornamer.robertcooper.me/
 */

:root{

    --CURSED_BLACK:             hsl(0, 0%, 7%);
    --EERIE_BLACK:              hsl(0, 0%, 11%);
    --DIRE_WOLF:                hsl(0, 0%, 15%);
    --RAVEN_BLACK:              hsl(0, 0%, 24%);
    --KNIGHTS_ARMOR:            hsl(0, 0%, 36%);
    --BLACK_MANA:               hsl(0, 0%, 52%);
    --BRAINSTEM_GREY:           hsl(0, 0%, 71%);
    --UNICORN_SILVER:           hsl(0, 0%, 91%);/* Replacement for --WHITE */
    /* --WHITE:                   hsl(0, 0%, 100%); */
    --MEMORY_LANE:              hsl(218, 24%, 82%);
    --ROCK_BLUE:                hsl(217, 22%, 65%);
    --NICHE_BLUE:               hsl(221, 18%, 48%);
    --BLACKBERRY_COBBLER:       hsl(226, 25%, 35%);
    --TROPICAL_NIGHT:           hsl(232, 30%, 24%);
    --DARK_KNIGHT:              hsl(242, 33%, 15%);
    --TRISTESSE:                hsl(261, 59%, 7%);
    --BATS_CLOAK:               hsl(300, 22%, 9%);
    --BRUISED_PLUM:             hsl(355, 30%, 17%);
    --CHRISTMAN_BROWN:          hsl(5, 40%, 26%);
    --BURNING_BRIER:            hsl(13, 44%, 38%);
    --ORANGE_LILY:              hsl(19, 48%, 52%);
    --INVENTINVE_ORANGE:        hsl(24, 71%, 66%);
    --SUNDOWN:                  hsl(30, 83%, 79%);
    --PEACH_UMBRELLA:           hsl(33, 78%, 89%);
    --OPTIMIST_GOLD:            hsl(35, 81%, 62%);
    --LAVA_PIT:                 hsl(21, 73%, 55%);
    --PUREED_PUMPKIN:           hsl(12, 69%, 46%);
    --OLD_MANDARIN:             hsl(4, 66%, 34%);
    --AEROSPACE_ORANGE:         hsl(19, 100%, 50%);
    --RETRO_NECTARINE:          hsl(27, 86%, 50%);
    --CADMIUM_YELLOW:           hsl(36, 100%, 54%);
    --CHEERFUL_YELLOW:          hsl(45, 100%, 57%);
    --XANTHE_YELLOW:            hsl(53, 100%, 67%);
    --HONEYDEW_PEEL:            hsl(80, 95%, 74%);
    --STADIUM_LAWN:             hsl(94, 73%, 64%);
    --RANGE_LAND:               hsl(114, 50%, 54%);
    --FORMAL_GARDEN:            hsl(134, 50%, 40%);
    --SPARKLING_EMERALD:        hsl(157, 57%, 28%);
    --STOCKADE_GREEN:           hsl(180, 60%, 19%);
    --HALITE_BLUE:              hsl(204, 70%, 16%);
    --ATENEO_BLUE:              hsl(209, 100%, 21%);
    --INDIGO_BUNTING:           hsl(203, 100%, 33%);
    --ATMOSPHERE:               hsl(199, 100%, 43%);
    --BRIGHT_SKY_BLUE:          hsl(191, 100%, 49%);
    --CENDRA_BLUE:              hsl(183, 100%, 52%);
    --ETERNAL_BLUE:             hsl(181, 100%, 79%);
    --PUFF_OF_PINK:             hsl(322, 91%, 91%);
    --FRAIL_FUCHSIA:            hsl(299, 84%, 75%);
    --GEISHA_PINK:              hsl(289, 98%, 62%);
    --POISON_PURPLE:            hsl(268, 96%, 51%);
    --BUSTY_PURPLE:             hsl(253, 97%, 43%);
    --BLUE_TRUST:               hsl(244, 97%, 29%);
    --MIDNIGHT_MIRAGE:          hsl(218, 91%, 13%);
    --VELVET_COSMOS:            hsl(290, 54%, 17%);
    --PRETTY_IN_PRUNE:          hsl(301, 46%, 26%);
    --PURPLE_EXCELLENCY:        hsl(303, 45%, 40%);
    --FUCHSIA_TINT:             hsl(301, 53%, 56%);
    --PINK_FLAMBE:              hsl(333, 52%, 55%);
    --STRAWBERRY_FIELD:         hsl(357, 87%, 74%);
    --RED_MANA:                 hsl(357, 89%, 65%);
    --ALLURA_RED:               hsl(357, 81%, 56%);
    --ELECTRIC_CRIMSON:         hsl(345, 100%, 50%);
    --CHERRY_SANGRIA:           hsl(356, 69%, 45%);
    --RED_DAHLIA:               hsl(353, 64%, 33%);
    --BURNT_CRIMSON:            hsl(349, 51%, 23%);

}