:root {
   --page_margin: 0.75in;
}

html, body {
   height: unset;
}

html {
   padding: 5vw;
   background-color: #777;
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: fit-content;
   /* min-height: fit-content; */
}

/* Override the global reset */
body {
   max-width  : fit-content;
   min-height : fit-content;
   max-height : fit-content;
}

hr {
   margin: 1rem 0;
}

li {
   list-style: unset;
   margin-left: 2.5em;
}

.accolade__title {
   display: inline-block;
   width: 15ch;
}

.keyword {
   font-weight: bold;
}

.page {
   width   : 8.5in;
   height  : 11in;
   padding : var(--page_margin);

   color            : black;
   background-color : white;
   outline: 1px solid #0005;
   box-shadow: 3px 3px 5px 1px #0008;
   /* border           : 10px solid red; */

   display: flex;
   gap: 1rem;
   overflow: hidden;
}

.profile {
   flex: 1
}

.sidebar {
   font-size: 0.85rem;
   padding: 0.75rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   flex-basis: 35%;
   background-color: lightgray;
}

@page {
   size          : letter portrait;
   margin: 0;
}

@media print {
   html {
      padding: 0;
   }

   
}