@import url(./global-reset.css);
@import url(./color-palette.css);

:root {
   /* Light Mode Colors */
   --color_bg-light   : var(--UNICORN_SILVER);
   --color_text-light : var(--EERIE_BLACK);

   /* Dark Mode Colors */
   --color_bg-dark   : var(--CURSED_BLACK);
   --color_text-dark : var(--UNICORN_SILVER);

   /* Assign default colors */
   --color_bg: var(--color_bg-light);
   --color_text: var(--color_text-light);
}

* {margin: 0; padding: 0;}

/* Make sure to never render the dev-banner if the dev files are missing */
.dev-banner { display: none; }

body {
   min-width: 100vw;
   min-height: 100vh;

   color            : var(--color_text-light);
   background-color : var(--color_bg-light);
}

.flex {
   display: flex;
   flex-direction: row;
}

.flex-col {
   display: flex;
   flex-direction: column;
}

.no-wrap {
   text-wrap: nowrap;
}

.spacer {
   flex: 0 10;
}

@media (prefers-color-scheme: dark) {

   body {
      color            : var(--color_text-dark);
      background-color : var(--color_bg-dark);
   }

}