@import url(./global-reset.css);
@import url(./color-palette.css);

:root {
   /* Light Mode Colors */
   --color_bg-light   : var(--UNICORN_SILVER);
   --color_text-light : var(--EERIE_BLACK);

   /* Dark Mode Colors */
   --color_bg-dark   : var(--CURSED_BLACK);
   --color_text-dark : var(--UNICORN_SILVER)
}

body {
   min-width: 100vw;
   min-height: 100vh;

   color            : var(--color_text-light);
   background-color : var(--color_bg-light);
}

.flex {
   display: flex;
}

@media (prefers-color-scheme: dark) {

   body {
      color            : var(--color_text-dark);
      background-color : var(--color_bg-dark);
   }

}