:root {
   
   --sidebar_min-width: 320px;
   --sidebar_max-width: min(600px, 65%);
   --sidebar_min-h-padding: 12.5%; /* TODO figure out a better value(s) */


   /* These calculations ensure that the hero section fills the full
      height of smaller screens with zero letterboxing. This was an
      exercise to see if I could do it without media selectors.
   */

   /* Determine if the viewport is landscape or portrait */
   --test1: calc(100vh - 100vw);
   /* zero out the value above if it is negative */
   --test2: max(0px, var(--test1));
   /* tray to add the above value to the desired min-height */
   --test3: calc(800px + max(0px, var(--test1)));
   /* Do not exceed 100vh */
   --test4: min(var(--test3), 100vh);

}

body {
   display: grid;
   grid-template-columns: 100%;
   place-items: center;
   min-width: 350px;
}

[role="content-body"] {
   --this__outline--color    : hsla(from var(--color_accent-dark) h s l / 0.2);
   --this__box-shadow--color : hsla(from var(--color_accent-dark) h s l / 0.05);

   /* Can replace 3 height attributes with one clamp */
   min-height            : 35rem;  /*FIXME Temporary solution to stretch the belly to fit content*/
   height                : 100vh;  /* CHANGED: From 100% to 100vh, now relies on min-height */
   /* max-height            : 800px; */ /* Results in letterboxing on tall (mobile) screens */
   max-height: var(--test4);

   align-items           : stretch;
   width                 : 100%;
   max-width             : 1440px;
   background-image      : url(../assets/images/standins/things-on-shelves.jpg);
   background-size       : cover;
   background-position-y : 75%;
   border-radius         : 6px;
   overflow              : hidden;
   box-shadow: 5px 15px 200px 0px var(--this__box-shadow--color);
   outline: 2px solid var(--this__outline--color); /* TODO Switch to accent color var */
   border-radius         : min(
      calc(var(--sidebar_min-width) / 20),
      (100vw - 100% - 10px)
   );
}

.sidebar-wrapper {
   padding-right: 10px; /* Prevents cutting off top of the bezel's box-shadow */
   width: max(
      var(--sidebar_min-width),
      var(--sidebar_max-width)
   );
}

.sidebar {

   /* Prevent collapsing margins for div/children */
   display: flow-root;   /* FOR IE11  --  overflow: auto; (https://stackoverflow.com/a/1939980) */  

   padding-left     : var(--sidebar_min-h-padding);
   background-color : hsla(0, 0%, 10%, 0.5);
   backdrop-filter  : blur(30px);
   clip-path        : polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
   aspect-ratio     : 2/10;

   h2 {
      text-align-last : left;
      margin-top: 20%; /* FIXME: Find a better solution for centering all children vertically */
   }

   button {
      display : inline-block;
   }
}

.bezel {
   position: relative;
   height: 110%;
   z-index: 1;
   transform: rotate(11.4deg);
   transform-origin: top left;
   left: 100%;
   box-shadow: -3px 0 8px 2px rgba(235, 235, 235, 0.15);
   float: left;
}

.cutout {
   /* Define the shape's form and position */
   float         : right;
   /* clip-path     : polygon(100% 0, 100% 100%, 0% 100%); */
   shape-outside : polygon(100% 0, 100% 100%, 0% 100%);
   
   /* Define the shape's dimensions */
   height       : 100%;
   aspect-ratio : 2/10;

   /* background-color : maroon; */

   shape-margin : var(--sidebar_min-h-padding);
}

.sidebar > :where(*:not(.cutout)) {

   text-align      : justify;
   text-align-last : right;

   /* TODO: Trying to center the text content within the overlay.
            Also try creating a single var for the minimum margin/padding
            to apply to .cutout's shape-margin and .sidebar's padding-left
   */
   /* margin-left     : auto; */
   margin: 0 auto;

   max-width       : 490px;


}

.small {
   font-size       : 0.5em;
   text-align      : right;
   text-align-last : right;
}

.intro {
   margin-top : 5em;

   br {
      display       : inline-block;
      margin-bottom : 5em;
   }
}

.intro, .invitation {
   margin-top    : 20%;
   margin-bottom : 20%;
}



/* Putting each button inside it's own container along with a spacer should make it
   possible to force the buttons to appear to be left aligned while following the
   shape of the slice angle */
div:has(>.spacer) {

   > * {flex:1}


   .spacer {
      display          : inline-block;
      width            : 300px;
      flex-basis       : 300px;
      height           : 0.5rem;
      background-color : red;
   }
}

.attention {
   color: var(--color_accent-dark)
}